#u297
{
	vertical-align: top;
	position: relative;
	background: url("../images/gallery%20button%20for%20reginas%20site-u297.png") no-repeat 0px 0px;
}

#u297:hover
{
	background: url("../images/gallery%20button%20for%20reginas%20site-u297-r.png") no-repeat 0px 0px;
}

#u297:active
{
	background: url("../images/gallery%20button%20for%20reginas%20site-u297-m.png") no-repeat 0px 0px;
}

#u317
{
	position: relative;
	background: transparent url("../images/about%20me%20button%20for%20reginas%20site-%d0%b4%d0%b5%d0%b2%d1%83%d1%88%d0%ba%d0%b0%20%d0%be%d1%81%d0%bd%d0%be%d0%b2%d0%bd%d0%b0%d1%8f.png") no-repeat left top;
	background-size: contain;
}

#u317:hover
{
	background: transparent url("../images/about%20me%20button%20for%20reginas%20site-%d0%b4%d0%b5%d0%b2%d1%83%d1%88%d0%ba%d0%b0%20%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b2%d0%b5%d0%b4%d0%b5%d0%bd%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u1726
{
	vertical-align: top;
	position: relative;
	background: url("../images/pricebutton-u1726.png") no-repeat 0px 0px;
}

#u1726:hover
{
	background: url("../images/pricebutton-u1726-r.png") no-repeat 0px 0px;
}

#u1726:active
{
	background: url("../images/pricebutton-u1726-m.png") no-repeat 0px 0px;
}

#u600
{
	position: relative;
	background: transparent url("../images/%d1%80%d0%b5%d0%b3%d0%b8%d0%bd%d0%b0%20%d1%84%d0%be%d1%82%d0%be%d0%b3%d1%80%d0%b0%d1%84%20%d0%bb%d0%be%d0%b3%d0%be%20flat%20interactive-%d0%be%d0%b1%d1%8b%d1%87%d0%bd%d0%be%d0%b5%20%d0%bb%d0%be%d0%b3%d0%be.png") no-repeat left top;
	background-size: contain;
}

#u600:hover
{
	background: transparent url("../images/%d1%80%d0%b5%d0%b3%d0%b8%d0%bd%d0%b0%20%d1%84%d0%be%d1%82%d0%be%d0%b3%d1%80%d0%b0%d1%84%20%d0%bb%d0%be%d0%b3%d0%be%20flat%20interactive-%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b6%d0%b0%d1%82%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u241
{
	background-color: #F39C12;
	position: relative;
}

#u411
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/dot%20hatch%20fine.png") repeat left top;
}

#u1717,#u1717-2,#u1717-3,#u1717-4,#u1717-5,#u1717-6,#u1717-7,#u1717-8,#u1717-9,#u1717-10
{
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
}

#u1717-14
{
	font-size: 24px;
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1717-12
{
	font-size: 18px;
	color: #FFFFFF;
	font-style: italic;
	line-height: 22px;
}

#u1717-13
{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
}

#u1717-11,#u1717-16,#u1717-18,#u1717-19
{
	font-size: 18px;
	line-height: 22px;
}

#u426
{
	background-color: #2C3E50;
	position: relative;
}

#u1717-21,#u1723-87
{
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u1723,#u1723-5,#u1723-51
{
	text-decoration: underline;
	font-weight: bold;
}

#u1723-8,#u1723-10,#u1723-12,#u1723-14,#u1723-20,#u1723-22,#u1723-24,#u1723-26,#u1723-52
{
	color: #FFFFFF;
}

#u1723-3,#u1723-6,#u1723-7,#u1723-9,#u1723-11,#u1723-13,#u1723-15,#u1723-16,#u1723-19,#u1723-21,#u1723-23,#u1723-25,#u1723-27,#u1723-28,#u1723-31,#u1723-33,#u1723-35,#u1723-37,#u1723-39,#u1723-41,#u1723-42,#u1723-45,#u1723-47,#u1723-49,#u1723-50,#u1723-53,#u1723-55,#u1723-56
{
	text-align: center;
}

#u1723-4,#u1723-17,#u1723-29,#u1723-43,#u1723-57,#u1723-63,#u1723-74
{
	text-decoration: underline;
}

#u1723-18,#u1723-30,#u1723-44,#u1723-58,#u1723-59,#u1723-61,#u1723-62,#u1723-64,#u1723-65,#u1723-67,#u1723-69,#u1723-71,#u1723-72,#u1723-73,#u1723-75,#u1723-76,#u1723-78,#u1723-80,#u1723-81,#u1723-83,#u1723-84
{
	text-align: center;
	font-weight: bold;
}

#u1723-2,#u1723-85
{
	font-weight: bold;
}

#u612
{
	position: relative;
	background: transparent url("../images/%d1%80%d0%b5%d0%b3%d0%b8%d0%bd%d0%b0%20%d1%84%d0%be%d1%82%d0%be%d0%b3%d1%80%d0%b0%d1%84%20%d0%bb%d0%be%d0%b3%d0%be%20flat%20interactive-u612-fr.png") no-repeat left top;
	background-size: contain;
}

#u612:hover
{
	background: transparent url("../images/%d1%80%d0%b5%d0%b3%d0%b8%d0%bd%d0%b0%20%d1%84%d0%be%d1%82%d0%be%d0%b3%d1%80%d0%b0%d1%84%20%d0%bb%d0%be%d0%b3%d0%be%20flat%20interactive-u612-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u255,#u132,#u585
{
	background-color: #008CDC;
	position: relative;
}

#u717
{
	position: absolute;
	background-color: transparent;
}

#u706
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u809
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u809:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u711
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u711:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u818
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u818:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u791
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u791:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u845
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u845:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u854
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u854:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u836
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u836:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u800
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u800:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u827
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u827:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u827_clip
{
	overflow: hidden;
}

#u1185
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1185:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1212
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1212:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1230
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1230:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1239
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1239:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1248
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1248:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1257
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1257:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1266
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1266:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1275
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1275:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1284
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1284:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1293
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1293:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1302
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1302:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1311
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1311:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1009
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1009:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1036
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1036:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1445
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1445:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1472
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1472:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1481
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1481:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1490
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1490:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1499
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1499:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1508
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1508:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1517
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1517:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1544
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1544:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1562
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1562:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1571
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1571:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1580
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1580:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1589
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1589:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1598
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1598:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1607
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1607:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1045
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1045:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1054
{
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u1054:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u809.SSSlideLinkSelected,#u711.SSSlideLinkSelected,#u818.SSSlideLinkSelected,#u791.SSSlideLinkSelected,#u845.SSSlideLinkSelected,#u854.SSSlideLinkSelected,#u836.SSSlideLinkSelected,#u800.SSSlideLinkSelected,#u827.SSSlideLinkSelected,#u1185.SSSlideLinkSelected,#u1212.SSSlideLinkSelected,#u1230.SSSlideLinkSelected,#u1239.SSSlideLinkSelected,#u1248.SSSlideLinkSelected,#u1257.SSSlideLinkSelected,#u1266.SSSlideLinkSelected,#u1275.SSSlideLinkSelected,#u1284.SSSlideLinkSelected,#u1293.SSSlideLinkSelected,#u1302.SSSlideLinkSelected,#u1311.SSSlideLinkSelected,#u1009.SSSlideLinkSelected,#u1036.SSSlideLinkSelected,#u1445.SSSlideLinkSelected,#u1472.SSSlideLinkSelected,#u1481.SSSlideLinkSelected,#u1490.SSSlideLinkSelected,#u1499.SSSlideLinkSelected,#u1508.SSSlideLinkSelected,#u1517.SSSlideLinkSelected,#u1544.SSSlideLinkSelected,#u1562.SSSlideLinkSelected,#u1571.SSSlideLinkSelected,#u1580.SSSlideLinkSelected,#u1589.SSSlideLinkSelected,#u1598.SSSlideLinkSelected,#u1607.SSSlideLinkSelected,#u1045.SSSlideLinkSelected,#u1054.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u716-4
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u716
{
	color: #999999;
}

#u705-4
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1666,#u1661,#u1644,#u1650,#u1638,#u1656
{
	display: block;
	vertical-align: top;
	position: relative;
}

#main,#aboutme,#slideshowu699,#anchor-u358,#mailme,#pricelist
{
	position: relative;
}

#u1775
{
	position: fixed;
	background: transparent url("../images/pricebutton-u1775-fr.png") no-repeat left top;
	background-size: contain;
}

#u1775:hover
{
	background: transparent url("../images/pricebutton-u1775-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u1775:active
{
	background: transparent url("../images/pricebutton-u1775-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u1725-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	position: fixed;
}

#widgetu447
{
	position: fixed;
}

#u409,#u1715,#u806,#u722,#u815,#u788,#u842,#u851,#u833,#u797,#u824,#u1182,#u1209,#u1227,#u1236,#u1245,#u1254,#u1263,#u1272,#u1281,#u1290,#u1299,#u1308,#u1006,#u1033,#u1442,#u1469,#u1478,#u1487,#u1496,#u1505,#u1514,#u1541,#u1559,#u1568,#u1577,#u1586,#u1595,#u1604,#u1042,#u1051,#u1669,#widgetu449
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u452-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u451-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#widgetu449.non-empty-st #u451-4
{
	background-color: #FFFFFF;
}

#widgetu449:hover #u451-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu449.focus-st #u451-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu449.non-empty-st #u451-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu449:hover #u451-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu449.focus-st #u451-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu454
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u455-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u457-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#widgetu454.non-empty-st #u457-4
{
	background-color: #FFFFFF;
}

#widgetu454:hover #u457-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu454.focus-st #u457-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu454.non-empty-st #u457-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu454:hover #u457-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu454.focus-st #u457-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u448-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu447.frm-sub-st #u448-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u462-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu447.frm-subm-err-st #u462-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u463-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu447.frm-sub-st #u448-4,#widgetu447.frm-subm-err-st #u462-4,#widgetu447.frm-subm-ok-st #u463-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu447.frm-subm-ok-st #u463-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u453-17
{
	position: relative;
	background: url("../images/u453-17.png") no-repeat 0px 0px;
}

#u453-17:hover
{
	background: url("../images/u453-17-r.png") no-repeat 0px 0px;
}

#u453-17:active
{
	background: url("../images/u453-17-m.png") no-repeat 0px 0px;
}

#widgetu447.frm-sub-st #u453-17
{
	background: url("../images/u453-17-fs.png") no-repeat 0px 0px;
}

#widgetu458
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu449.fld-err-st,#widgetu454.fld-err-st,#widgetu458.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u459-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#widgetu449.fld-err-st #u452-4,#widgetu458.fld-err-st #u459-4
{
	border-style: none;
	border-color: transparent;
}

#widgetu449.fld-err-st #u452-4 p,#widgetu449.fld-err-st #u452-4 span,#widgetu454.fld-err-st #u455-4 p,#widgetu454.fld-err-st #u455-4 span,#widgetu458.fld-err-st #u459-4 p,#widgetu458.fld-err-st #u459-4 span
{
	color: #D7244C;
}

#u461-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#widgetu458.non-empty-st #u461-4
{
	background-color: #FFFFFF;
}

#widgetu458:hover #u461-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu458.focus-st #u461-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu449.fld-err-st #u451-4,#widgetu454.fld-err-st #u457-4,#widgetu458.fld-err-st #u461-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu458.non-empty-st #u461-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu458:hover #u461-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu458.focus-st #u461-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu449.fld-err-st #u451-4 *,#widgetu454.fld-err-st #u457-4 *,#widgetu458.fld-err-st #u461-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu449_input,#widgetu449_prompt,#widgetu454_input,#widgetu454_prompt,#widgetu458_input,#widgetu458_prompt
{
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#widgetu449.focus-st #widgetu449_prompt,#widgetu449.non-empty-st #widgetu449_prompt,#widgetu454.focus-st #widgetu454_prompt,#widgetu454.non-empty-st #widgetu454_prompt,#widgetu458.focus-st #widgetu458_prompt,#widgetu458.non-empty-st #widgetu458_prompt
{
	visibility: hidden;
}

#u404
{
	position: fixed;
	background: transparent url("../images/gallery%20button%20for%20reginas%20site.png") no-repeat left top;
	background-size: contain;
}

#u404:hover
{
	background: transparent url("../images/gallery%20button%20for%20reginas%20site-under%20the%20arrow.png") no-repeat left top;
	background-size: contain;
}

#u404:active
{
	background: transparent url("../images/gallery%20button%20for%20reginas%20site-when%20pushed.png") no-repeat left top;
	background-size: contain;
}

#u419
{
	position: fixed;
	background: transparent url("../images/about%20me%20button%20for%20reginas%20site-%d0%b4%d0%b5%d0%b2%d1%83%d1%88%d0%ba%d0%b0%20%d0%be%d1%81%d0%bd%d0%be%d0%b2%d0%bd%d0%b0%d1%8f.png") no-repeat left top;
	background-size: contain;
}

#u419:hover
{
	background: transparent url("../images/about%20me%20button%20for%20reginas%20site-%d0%b4%d0%b5%d0%b2%d1%83%d1%88%d0%ba%d0%b0%20%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b2%d0%b5%d0%b4%d0%b5%d0%bd%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u317:active,#u419:active
{
	background: transparent url("../images/about%20me%20button%20for%20reginas%20site-%d0%b1%d0%b0%d0%b7%d0%b0%20%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b6%d0%b0%d1%82%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u1711-4,#u1707-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u1764
{
	background-color: transparent;
	position: fixed;
}

#u1718-11
{
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
}

#u1718-3
{
	font-size: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1718
{
	line-height: 22px;
}

#u1718-2
{
	font-size: 14px;
	line-height: 17px;
}

#u1718-5,#u1718-7,#u1718-9
{
	font-size: 14px;
}

.js #u1775.ose_pre_init,.js #u1725-4.ose_pre_init,.js #u404.ose_pre_init,.js #u419.ose_pre_init,.js #u1711-4.ose_pre_init,.js #u1707-4.ose_pre_init,.js #u1764.ose_pre_init,.js #u1718-11.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u430
{
	position: relative;
	background: transparent url("../images/%d0%bb%d0%be%d0%b3%d0%be%20%d0%b2%d0%ba-u430-fr.png") no-repeat left top;
	background-size: contain;
}

#u430:hover
{
	background: transparent url("../images/%d0%bb%d0%be%d0%b3%d0%be%20%d0%b2%d0%ba-u430-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u430:active
{
	background: transparent url("../images/%d0%bb%d0%be%d0%b3%d0%be%20%d0%b2%d0%ba-u430-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u542
{
	position: relative;
	background: transparent url("../images/facebook%20button-%d0%be%d0%b1%d1%8b%d1%87%d0%bd%d1%8b%d0%b9.png") no-repeat left top;
	background-size: contain;
}

#u542:hover
{
	background: transparent url("../images/facebook%20button-%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b2%d0%b5%d0%b4%d0%b5%d0%bd%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u542:active
{
	background: transparent url("../images/facebook%20button-%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b6%d0%b0%d1%82%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u565
{
	position: relative;
	background: transparent url("../images/%d0%b8%d0%bd%d1%81%d1%82%d0%b0%d0%b3%d1%80%d0%b0%d0%bc%20%d0%bb%d0%be%d0%b3%d0%be-instagram_logo.png") no-repeat left top;
	background-size: contain;
}

#u565:hover
{
	background: transparent url("../images/%d0%b8%d0%bd%d1%81%d1%82%d0%b0%d0%b3%d1%80%d0%b0%d0%bc%20%d0%bb%d0%be%d0%b3%d0%be-%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b2%d0%b5%d0%b4%d0%b5%d0%bd%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u565:active
{
	background: transparent url("../images/%d0%b8%d0%bd%d1%81%d1%82%d0%b0%d0%b3%d1%80%d0%b0%d0%bc%20%d0%bb%d0%be%d0%b3%d0%be-%d0%bf%d1%80%d0%b8%20%d0%bd%d0%b0%d0%b6%d0%b0%d1%82%d0%b8%d0%b8.png") no-repeat left top;
	background-size: contain;
}

#u529-6,#u530-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	position: relative;
}

